:root {
    --primary: #4f46e5;
    --primary-light: #6366f1;
    --success: #16a34a;
    --warning: #f59e0b;
    --bg: #f8fafc;
    --card: rgba(255,255,255,0.75);
    --text-dark: #0f172a;
    --text-light: #64748b;
    --border: rgba(255,255,255,0.4);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: linear-gradient(135deg,#eef2ff,#f8fafc);
}

.ant-row{
    width: 100%;
}

.form-group{
    gap: 0 !important;
}

.ant-form-item{
    margin-bottom: 5px !important;
}